---
import Layout from '../../layouts/Layout.astro'

import {linksArray} from '../../components/index/HeroSlider'
import {grayBody} from '../../components/Header.astro'

const servicesPageContent = {
  title: linksArray[2].text,
  headings_classes: ['text-neutral-400 text-neutral-500 text-neutral-600 text-neutral-700 text-neutral-800 text-neutral-900'],

  description_title: 'Мы предоставляем услуги по восстановлению бухгалтерского учета',
  description_text: ['Бухгалтерский и налоговый учет требует восстановления в случае неполного или неправильного ведения учета или его полного отсутствия. Привести к этому могут различные причины: недостающие документы, регистры, договоры или некомпетентность бухгалтера.', 'Восстановление дает возможность привести учет в надлежащий вид, выявить все недостающие документы и проверить существующие, также проверить правильность отражения всех операций, начисление и уплату налогов, выявить все недоплаты и добровольно перечислить их в бюджет или наоборот выявить переплаты и учесть их при последующих перечислениях налогов.', 'Восстановление бухгалтерского и налогового учета может производиться в полном объеме или частично. ООО «Аналитик» проведет восстановление запущенного бухгалтерского и налогового учета любой сложности.'],

  table_title: 'Абонентская плата',
  table_text: ['Цены  являются приблизительными и окончательно формируются лишь после ознакомления с документами Клиента.Для того что бы определить точную стоимость аудиторских, бухгалтерских или консалтинговых услуг обратитесь к менеджеру по работе с клиентами или заполните анкету.', 'После расчета стоимости наших услуг наш представитель свяжется с Вами в течении одного рабочего дня и сообщит точную стоимость наших услуг.'],
  table_data: {
    headings: ['Количество операций в квартал', 'Абонентская ежемесячная плата'],
    records: {
      1: {
        operation: '0',
        payment: '5 000',
      },
      2: {
        operation: '10-50',
        payment: '8 000',
      },
      3: {
        operation: '50-100',
        payment: '15 500',
      },
      4: {
        operation: '100-150',
        payment: '19 000',
      },
      5: {
        operation: '150-200',
        payment: '23 000',
      },
      6: {
        operation: 'более 200',
        payment: 'от 30 000',
      },
      7: {
        operation: 'более 1000',
        payment: 'от 50 000',
      },
    },
  },
}
---

<Layout description="">
  <section data-section="index-hero" class="mt-[25vh]">
    <div class="space-y-10">
      <h1 transition:name={linksArray[2].link} class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-5xl xl:text-4xl sm:text-2xl uppercase text-center sm:text-left sm:w-min ${grayBody}`}>{servicesPageContent.title}</h1>

      <div id="headings_wrapper" class="space-y-5 text-3xl text-center uppercase sm:text-left sm:ml-5 xl:text-2xl xl:space-y-3 sm:text-base sm:w-[90%] text-neutral-500">
        <p>Подготовка первичной документации</p>
        <p>Составление бухгалтерской и налоговой отчетности</p>
        <p>Оформление трудовых отношений с персоналом</p>
        <p>Расчет налогов</p>
        <p>Подготовка первичной документации</p>
        <p>Формирование учетных регистрови</p>
      </div>
    </div>

    <div class="mt-[15vh] flex flex-col gap-10">
      <h1 class="px-4 py-2 mx-auto text-xl text-center text-bold sm:text-left sm:text-base sm:mx-5 w-fit" class:list={grayBody}>{servicesPageContent.description_title}</h1>
      <div class="w-[50%] sm:w-[90%] sm:text-left mx-auto text-lg text-center sm:text-sm sm:mx-5 space-y-5">{servicesPageContent.description_text.map((text) => <p>{text}</p>)}</div>
    </div>

    <div class="my-[15vh] flex flex-col gap-10">
      <h1 class="px-4 py-2 mx-auto text-xl text-center text-bold sm:text-left sm:text-base sm:mx-5 w-fit" class:list={grayBody}>{servicesPageContent.table_title}</h1>

      <div class="p-5 w-[40%] sm:w-[90%] mx-auto sm:text-sm" class:list={grayBody}>
        <table class="w-full">
          <thead>
            <tr class="border-b border-neutral-700">
              {servicesPageContent.table_data.headings.map((heading) => <th class="h-10 px-2 font-medium text-left align-middle sm:font-normal text-neutral-500 sm:pb-2">{heading}</th>)}
            </tr>
          </thead>

          <tbody class="[&_tr:last-child]:border-0">
            {
              Object.values(servicesPageContent.table_data.records).map(({operation, payment}) => (
                <tr class="duration-200 border-b border-neutral-700 hover:bg-neutral-800">
                  <td class="p-2 font-medium">{operation}</td>
                  <td class="p-2">{payment + ' рублей'}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>

      <div class="w-[50%] sm:w-[90%] sm:text-left mx-auto text-center sm:text-sm sm:mx-5 text-neutral-500 space-y-5">{servicesPageContent.table_text.map((text) => <p>{text}</p>)}</div>
    </div>
  </section>
</Layout>

<style>
  div#headings_wrapper p {
    @apply duration-300;
  }
</style>

<script>
  function animateHeadings() {
    const headings = document.querySelectorAll('#headings_wrapper p')
    const classCount = headings.length
    let currentClassIndex = 0

    setInterval(() => {
      headings.forEach((heading, index) => {
        const classIndex = (currentClassIndex - index + classCount) % classCount
        const classValue = (classIndex + 4) * 100
        heading.className = `text-neutral-${classValue}`
      })

      currentClassIndex = (currentClassIndex + 1) % classCount
    }, 1000)
  }

  document.addEventListener('DOMContentLoaded', animateHeadings)
</script>
