---
import Layout from '../../layouts/Layout.astro'
import Consultation from '../../components/index/Consultation.astro'

import {linksArray} from '../../components/index/HeroSlider'
import {grayBody} from '../../components/Header.astro'

const servicesPageContent = {
  title: linksArray[5].text,
  headings_classes: ['text-neutral-400 text-neutral-500 text-neutral-600 text-neutral-700 text-neutral-800 text-neutral-900'],
}
---

<Layout page_name={`${servicesPageContent.title} — `}>
  <section data-section="index-hero" class="mt-[25vh]">
    <div class="space-y-10">
      <h1 transition:name={linksArray[2].link} class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-3xl sm:text-base uppercase text-center sm:text-left sm:w-max ${grayBody}`}>{servicesPageContent.title}</h1>

      <div id="headings_wrapper" class="space-y-5 text-3xl text-center uppercase sm:text-left sm:ml-5 xl:text-2xl xl:space-y-3 sm:text-base sm:w-[90%] text-neutral-500">
        <p>Составление бухгалтерской отчетности</p>
        <p>Составление налоговой отчетности</p>
        <p>Анализ финансово-хозяйственной деятельности</p>
        <p>Составление учетной политики для целей бухгалтерского и налогового учета</p>
        <p>Анализ системы ценообразования <br /> (трансфертные цены, скидки, безвозмездная реализация)</p>
        <p>Разработка маркетинговой политики</p>
      </div>
    </div>

    <Consultation classes="my-[15vh]" />
  </section>
</Layout>

<style>
  div#headings_wrapper p {
    @apply duration-300;
  }
</style>

<script>
  function animateHeadings() {
    const headings = document.querySelectorAll('#headings_wrapper p')
    const classCount = headings.length
    let currentClassIndex = 0

    setInterval(() => {
      headings.forEach((heading, index) => {
        const classIndex = (currentClassIndex - index + classCount) % classCount
        const classValue = (classIndex + 4) * 100
        heading.className = `text-neutral-${classValue}`
      })

      currentClassIndex = (currentClassIndex + 1) % classCount
    }, 1000)
  }

  document.addEventListener('DOMContentLoaded', animateHeadings)
  document.addEventListener('astro:page-load', animateHeadings)
</script>
