---
import Layout from '../../layouts/Layout.astro'

import {linksArray} from '../../components/index/HeroSlider'
import {grayBody} from '../../components/Header.astro'

const servicesPageContent = {
  title: linksArray[4].text,
  text: ['Полная, объективная и своевременная оценка состояния финансов компании на отчетную дату; выявление причин, которые привели к такому состоянию дел; обнаружение резервов и ресурсов (возможно, не использованных), которые можно использовать для оптимизации деятельности предприятия в финансовой сфере; проработка конкретных шагов, направленных на улучшение финансового состояния компании; прогнозирование финансовых результатов будущих периодов.'],

  tools: {
    title: 'Инструменты',
    items: {
      1: {
        title: 'Обязательный аудит',
        text: ['Аудит в сфере производства <span class="text-white">от 70 000 рублей</span>', 'Аудит в торговых организациях <span class="text-white">от 60 000 рублей</span>', 'Аудит в сфере общественного питания <span class="text-white">от 60 000 рублей</span>', 'Аудит в сфере услуг и рекламной деятельности <span class="text-white">от 50 000 рублей</span>', 'Аудит в сфере строительства <span class="text-white">от 90 000 рублей</span>', 'Аудит в сфере ВЭД <span class="text-white">от 80 000 рублей</span>'],
      },
      2: {
        title: 'Инициативный аудит',
        text: ['Аудит отдельных сегментов учета <span class="text-white">от 30 000 рублей</span>', 'Экспресс аудит <span class="text-white">от 30 000 рублей</span>', 'Налоговый аудит <span class="text-white">от 40 000 рублей</span>'],
      },
      3: {
        title: 'Обязательный аудит',
        text: ['Ежегодная обязательная аудиторская проверка ведения бухгалтерского учета и финансовой (бухгалтерской) отчетности. Обязательному аудиту подлежат:', '1. Организации, имеющие организационно-правовую форму открытого акционерного общества.', '2. Организации, относящиеся к кредитным организациям, страховым организациям, обществам взаимного страхования, товарным или фондовым биржам, инвестиционным фондам, государственным внебюджетным фондам, фондам, источником образования средств которого являются добровольные отчисления физических и юридических лиц.', '3. Организации, у которых объем выручки от продажи продукции (выполнения работ, оказания услуг) за предшествовавший отчетному год превышает 50 миллионов рублей или сумма активов бухгалтерского баланса по состоянию на конец года, предшествовавшего отчетному, превышает 20 миллионов рублей.', '4. В иных случаях, установленных федеральными законами.'],
      },
      4: {
        title: 'Инициативный аудит',
        text: ['Инициативный аудит является одним из главных направлений деятельности Компании «Аналитик». Инициативный аудит проводится по запросу клиента по следующим направлениям:', '1. <span class="text-white">Аудит по специальному заданию</span> (по запросу собственников; учредителей и/или акционеров, желающих знать эффективность деятельности предприятия; инвесторов, принимающих решение о вложении средств и желающих получить подтверждение достоверности финансовой отчетности и исчерпывающую информацию о состоянии имущества, эффективности внутреннего контроля и пр.)', '2. <span class="text-white">Аудит отдельных сегментов учета</span> подразумевает проведение сплошной проверки всех операций в рамках общего аудита по отдельному участку учета.', '3. <span class="text-white">Экспресс аудит</span> представляет собой оперативную проверку, оценку налоговых рисков. Он дает понимание об общем состоянии бухгалтерского и налогового учета на предприятии. Срок выполнения работ, как правило, не более 3-5 дней.', '4. <span class="text-white">Налоговый аудит</span> является одним из наиболее востребованных видов аудиторских услуг. Аудит налогообложения – это комплексная проверка систем бухгалтерского и налогового учета организации на предмет: правильности формирования налогооблагаемой базы по каждому виду налогов, исчисления и уплаты налогов и сборов за определенный период времени; состояния расчетов с бюджетом и внебюджетными фондами; соответствия систем как бухгалтерского, так и налогового учета требованиям действующего законодательства; оценка налоговых рисков предприятия и сведение их к минимуму. По результатам инициативного аудита Компания предоставляет Клиенту Отчет о результатах проведения аудита с выводами и рекомендациями по исправлению обнаруженных ошибок искажений и оптимизации налогообложения.'],
      },
    },
  },
}
---

<Layout description="">
  <section data-section="index-hero" class="mt-[25vh] space-y-20">
    <div class="flex flex-col gap-5">
      <h1 transition:name={linksArray[3].link} class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-3xl sm:text-xl uppercase text-center sm:text-left sm:w-min ${grayBody}`}>{servicesPageContent.title}</h1>

      <div class="mt-5 w-[55%] sm:w-[90%] sm:text-left mx-auto text-center sm:text-sm sm:mx-5 space-y-5">{servicesPageContent.text.map((text) => <p>{text}</p>)}</div>
    </div>

    <div class="flex flex-col gap-5">
      <h1 class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-3xl sm:text-xl uppercase text-center sm:text-left sm:w-min ${grayBody}`}>{servicesPageContent.tools.title}</h1>

      <div class="grid grid-cols-2 sm:grid-cols-1 w-[80%] sm:w-[88.5%] mx-auto gap-x-32 xl:gap-x-14 gap-y-10 mt-10 text-center sm:text-sm">
        {
          Object.keys(servicesPageContent.tools.items)
            .slice(0, 2) // Slice to get only the first two items
            .map((key) => (
              <div class="flex flex-col items-center justify-center gap-5 px-5 sm:items-start py-7" class:list={grayBody}>
                <h1 class="text-2xl">{servicesPageContent.tools.items[key].title}</h1>
                <div data-card class="space-y-3 text-neutral-500 sm:text-left">
                  {servicesPageContent.tools.items[key].text.map((text) => (
                    <p set:html={text} />
                  ))}
                </div>
              </div>
            ))
        }

        {
          Object.keys(servicesPageContent.tools.items)
            .slice(2, 4) // Slice to get only the first two items
            .map((key) => (
              <div class="flex flex-col items-center justify-center gap-5 px-5 sm:items-start py-7" class:list={grayBody}>
                <h1 class="text-2xl">{servicesPageContent.tools.items[key].title}</h1>
                <div class="space-y-3 text-left text-neutral-500">
                  {servicesPageContent.tools.items[key].text.map((text) => (
                    <p set:html={text} />
                  ))}
                </div>
              </div>
            ))
        }
      </div>
    </div>
  </section>
</Layout>

<style></style>
