---
import Layout from '../../layouts/Layout.astro'

import Hero from '../../components/index/Hero.astro'
import Contact from '../../components/index/Contact.astro'

import {slideContent} from '../../components/index/HeroSlider'
import {grayBody} from '../../components/Header.astro'

const servicesPageContent = {
  title: 'Для молодых компаний',
  text: ['Компанию «Аналитик» выбирают не только из-за опыта в части аудита, но и из-за комплексности услуг в области корпоративного управления.', 'Если у вас есть качественная идея или уже работающий бизнес, то мы поможем вам построить эффективную модель управления финансами, бизнес-процессами, повысить квалификацию персонала, автоматизировать уже конкретные учетные и плановые процедуры.'],
}
---

<Layout description="">
  <section data-section="index-hero" class="mt-[25vh]">
    <div class="flex flex-col gap-5">
      <h1 transition:name={slideContent[1].link} class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-5xl xl:text-4xl sm:text-2xl uppercase text-center sm:text-left sm:w-min ${grayBody}`}>{servicesPageContent.title}</h1>

      <div class="mt-5 w-[30%] sm:w-[90%] sm:text-left mx-auto text-center sm:text-sm sm:mx-5 space-y-5">{servicesPageContent.text.map((text) => <p>{text}</p>)}</div>
    </div>
  </section>

  <Contact classes="my-[15vh]" />
</Layout>
