---
import Layout from '../../layouts/Layout.astro'

import Consultation from '../../components/index/Consultation.astro'

import {linksArray} from '../../components/index/HeroSlider'
import {grayBody} from '../../components/Header.astro'

const servicesPageContent = {
  title: linksArray[3].text,
  text: ['Экономия для средних и больших предприятий может составить до 40% от налоговых отчислений'],
  caption: 'В зависимости от формы предприятия, количества сотрудников, а также расходов, выручки, прибыли и др. *',

  tools: {
    title: 'Инструменты',
    items: {
      1: {
        title: 'Рациональный выбор налогового режима',
        text: 'В рамках налогового планирования мы определяем, какие налоги и сколько будет платить предприятие. В зависимости от вида деятельности, соотношения доходов и расходов в рамках налогового планирования мы выберем подходящий налоговый режим.',
      },
      2: {
        title: 'Замены договора поставки договором поручения',
        text: 'В случаях, когда компания занимается оптовой реализацией товаров, приобретенных у поставщиков, схема уплаты выглядит следующим образом. Компания сперва уплачивает налог на добавленную стоимость (НДС) по приобретенным товарам, относя их в зачет, далее она сама начисляет НДС своим покупателям.',
      },
      3: {
        title: 'Применение льгот специальных экономических зон',
        text: 'В случае, если деятельность предполагает развитие приоритетных для страны направлений деятельности, предпринимателю можно обратить внимание на специальные экономические зоны.',
      },
      4: {
        title: 'Замена договора поставки договором комиссии',
        text: 'Аналогичным образом можно заменить договор купли-продажи с поставщиком на договор комиссии. Отличием в данном случае лишь будет то, что компания будет заключать договоры с покупателями за счет поставщика, но от своего имени.',
      },
      5: {
        title: 'Разделение финансового потока',
        text: 'Такая схема применима в отношении тех компаний, которые реализуют товары, работы и услуги покупателям, которые могут быть как плательщиками, так и неплательщиками НДС. Первые обычно заинтересованы в том, чтобы товары, работы и услуги реализовывались с НДС, в свою очередь, для вторых данный аспект не критичен.',
      },
      6: {
        title: 'Оптимизация налоговой учетной политики',
        text: 'Этот способ предполагает установление на предприятии методики отражения доходов и расходов, по которым законодатель предоставил право выбора.',
      },
    },
  },
}
---

<Layout description="">
  <section data-section="index-hero" class="mt-[25vh] space-y-20">
    <div class="flex flex-col gap-5">
      <h1 transition:name={linksArray[3].link} class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-3xl sm:text-xl uppercase text-center sm:text-left sm:w-min ${grayBody}`}>{servicesPageContent.title}</h1>

      <div class="mt-5 w-[30%] sm:w-[90%] sm:text-left mx-auto text-center sm:text-sm sm:mx-5 space-y-5">{servicesPageContent.text.map((text) => <p>{text}</p>)}</div>
      <p class="text-xs w-[25%] text-center sm:w-[90%] sm:text-left mx-auto sm:mx-5 text-neutral-500">{servicesPageContent.caption}</p>
    </div>

    <div class="flex flex-col gap-5">
      <h1 class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-3xl sm:text-xl uppercase text-center sm:text-left sm:w-min ${grayBody}`}>{servicesPageContent.tools.title}</h1>

      <div class="grid grid-cols-2 sm:grid-cols-1 w-[80%] sm:w-[88.5%] mx-auto gap-x-32 xl:gap-x-14 gap-y-10 mt-10 text-center sm:text-sm">
        {
          Object.keys(servicesPageContent.tools.items).map((key) => (
            <div class="flex flex-col items-center justify-center gap-3 px-3 py-7" class:list={grayBody}>
              <h1 class="text-2xl">{servicesPageContent.tools.items[key].title}</h1>
              <p class="text-neutral-500">{servicesPageContent.tools.items[key].text}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <Consultation classes="my-[15vh]" />
</Layout>
