---
const navLinks = {
  1: {
    href: '#about',
    text: 'О нас',
  },
  2: {
    href: '/contacts/',
    text: 'Контакты',
  },
}

export const grayBody = 'rounded-lg border-[1px] border-neutral-700 bg-[#111] text-neutral-500 text-white'
const grayBodyMobile = 'sm:rounded-lg sm:border-[1px] sm:border-neutral-700 sm:bg-[#111] sm:text-neutral-500'

const headerAdaptive = 'sm:top-4 sm:justify-between sm:w-[90%] sm:border-none sm:bg-transparent sm:p-0'
---

<header class=`z-50 fixed left-[50%] top-12 flex w-fit -translate-x-[50%] items-center gap-6 p-2 text-base ${grayBody} ${headerAdaptive}`>
  <a href="/" class="mt-[2px] ml-2 text-lg font-bold uppercase sm:ml-0 text-neutral-500 hover:text-custom-yellow duration-200" class:list={grayBodyMobile}>Аналитик</a>

  {
    Object.values(navLinks).map(({href, text}) => (
      <a {href} rel="nofollow" class="block overflow-hidden sm:hidden">
        <div class="h-[20px] hover:translate-y-[-20px] duration-300">
          <span class="flex h-[20px] items-center">{text}</span>
          <span class="flex h-[20px] items-center text-custom-yellow">{text}</span>
        </div>
      </a>
    ))
  }

  <button onclick="window.location.href = '/#contact'" class="${grayBodyMobile}">Записаться</button>
</header>

<style>
  button {
    @apply relative z-0 flex items-center gap-2 overflow-hidden whitespace-nowrap rounded-lg border-[1px]
         border-neutral-700 px-4 py-1.5 font-medium
         text-neutral-300 transition-all duration-300;
  }

  button:before {
    @apply absolute inset-0
           -z-10 translate-y-[200%]
           scale-[2.5]
           rounded-[100%] bg-custom-yellow
           transition-transform duration-1000
           content-[""];
  }

  button:hover {
    @apply scale-105 border-custom-yellow text-neutral-900;
  }

  button:hover:before {
    @apply translate-y-[0%];
  }

  button:active {
    @apply scale-100;
  }
</style>
