---
const navLinks = {
  1: {
    href: '/',
    text: 'Главная',
  },
  2: {
    href: '#about',
    text: 'О нас',
  },
  // 3: {
  //   href: '#pricing',
  //   text: 'Контакты',
  // },
}

export const grayBody = 'rounded-lg border-[1px] border-neutral-700 bg-[#111] text-neutral-500 text-white'
const grayBodyMobile = 'sm:rounded-lg sm:border-[1px] sm:border-neutral-700 sm:bg-[#111] sm:text-neutral-500'

const headerAdaptive = 'sm:top-4 sm:justify-between sm:w-[90%] sm:border-none sm:bg-transparent sm:p-0'
---

<header class=`z-50 fixed left-[50%] top-12 flex w-fit -translate-x-[50%] items-center gap-6 p-2 text-base ${grayBody} ${headerAdaptive}`>
  <div class=`ml-2 sm:ml-0 p-2 ${grayBodyMobile}`>
    <svg class="duration-200 fill-neutral-50 hover:fill-custom-yellow" width="24" height="auto" viewBox="0 0 50 39" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.4992 2H37.5808L22.0816 24.9729H1L16.4992 2Z" stop-color="#000000"></path>
      <path d="M17.4224 27.102L11.4192 36H33.5008L49 13.0271H32.7024L23.2064 27.102H17.4224Z" stop-color="#000000"></path>
    </svg>
  </div>

  {
    Object.values(navLinks).map(({href, text}) => (
      <a {href} rel="nofollow" class="block overflow-hidden sm:hidden">
        <div class="h-[20px] hover:translate-y-[-20px] duration-300">
          <span class="flex h-[20px] items-center">{text}</span>
          <span class="flex h-[20px] items-center text-custom-yellow">{text}</span>
        </div>
      </a>
    ))
  }

  <button onclick="window.location.href = '/#contact'" class="${grayBodyMobile}">Записаться</button>
</header>

<style>
  button {
    @apply relative z-0 flex items-center gap-2 overflow-hidden whitespace-nowrap rounded-lg border-[1px]
         border-neutral-700 px-4 py-1.5 font-medium
         text-neutral-300 transition-all duration-300;
  }

  button:before {
    @apply absolute inset-0
           -z-10 translate-y-[200%]
           scale-[2.5]
           rounded-[100%] bg-custom-yellow
           transition-transform duration-1000
           content-[""];
  }

  button:hover {
    @apply scale-105 border-custom-yellow text-neutral-900;
  }

  button:hover:before {
    @apply translate-y-[0%];
  }

  button:active {
    @apply scale-100;
  }
</style>
