---
import {grayBody} from '../Header.astro'

export function getYear() {
  const startDate = new Date(2008, 1, 4) // February 4, 2008 (month is 0-indexed)
  const currentDate = new Date()
  const diffTime = Math.abs(currentDate.getTime() - startDate.getTime())
  const diffYears = Math.floor(diffTime / (1000 * 60 * 60 * 24 * 365.25))
  return diffYears
}

const aboutContent = {
  title: `${getYear()} ЛЕТ НА РЫНКЕ`,
  text: ['Ведем свою деятельность с 2008 года, за это время мы сформировали коллектив, отточили существующие методики работы с предприятиями и создали свои.',
         'ООО «Аналитик» - ваш надежный партнер в развитии бизнеса. Предоставляем комплексные услуги по ведению бухгалтерского, налогового и кадрового учета организаций любой сложности с гарантией точности, своевременности и соответствия требованиям законодательству РФ.',
         'Если у вас есть качественная идея или уже работающий бизнес, то мы поможем вам построить эффективную модель управления финансами, бизнес-процессами, автоматизировать уже конкретные учетные и плановые процедуры.',
         'Передайте все головные боли, связанные налогами и бухгалтерской отчетностью на аутсорсинг в Аналитик, наша команда экспертов уже сегодня знает, как работать завтра.',
         '143002 Московская область, г. Одинцово, ул. Садовая, дом 3, офис № 302',
         'ИНН 5032182899 / КПП 503201001',
         'ОГРН 1085032001471',]
}
---

<section data-section="index-about" id="about" class="mt-[15vh] sm:mt-[10vh] space-y-10 sm:space-y-7">
  <h1 class={`px-4 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-3xl sm:text-xl text-center ${grayBody}`}>{aboutContent.title}</h1>

  <div class="w-1/2 mx-auto space-y-7 sm:space-y-10 text-center sm:text-sm sm:w-[85%] sm:ml-5 sm:text-left text-lg">{aboutContent.text.map((text) => <p>{text}</p>)}</div>
</section>
