---
interface Props {
  classes: string
}

const {classes} = Astro.props

import {grayBody} from '../Header.astro'

const consultationContent = {
  title: 'Запись на консультацию',
  text: 'Опишите вашу компанию, напишите свои проблемы, и мы с Вами свяжемся, проведем анализ и рассмотрим варианты сотрудничества.',
}
---

<section data-section="index-consultation" id="consultation" class="space-y-10" class:list={classes}>
  <div class="flex flex-col gap-5">
    <h1 class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-3xl sm:text-xl uppercase text-center sm:text-left sm:w-min ${grayBody}`}>{consultationContent.title}</h1>
    <p class="w-[30%] sm:w-[90%] sm:text-left mx-auto text-center sm:text-sm sm:mx-5 text-neutral-500">{consultationContent.text}</p>
  </div>

  <form id="FORM" class="flex flex-col gap-3 items-center w-[17%] xl:w-[30%] sm:w-[88%] mx-auto">
    <input id="INPUT_EMAIL" class="w-full px-3 py-2" class:list={grayBody} placeholder="E-mail" type="text" name="email" />
    <input id="INPUT_COMPANY" class="w-full px-3 py-2" class:list={grayBody} placeholder="Компания" type="text" name="company" />

    <textarea id="INPUT_DESCRIPTION" class="w-full px-3 py-2" class:list={grayBody} placeholder="Описание компании" name="description" cols="30" rows="7"></textarea>

    <div id="FORM_BTN" class="px-4 py-1.5 font-medium rounded-lg cursor-pointer border-[1px] text-neutral-900 border-neutral-700 bg-neutral-300 hover:bg-custom-yellow duration-300">Отправить</div>
  </form>
</section>

<script>
  import {apiKey, baseId} from '../../data/airtbleApi'
  const tableName = 'Form'

  interface FormData {
    Email: string
    Company: string
    Description: string
  }

  const form = document.querySelector('#FORM') as HTMLFormElement

  const submitData = async (event: Event) => {
    event.preventDefault()

    const emailInput = document.getElementById('INPUT_EMAIL') as HTMLInputElement
    const companyInput = document.getElementById('INPUT_COMPANY') as HTMLInputElement
    const descriptionInput = document.getElementById('INPUT_DESCRIPTION') as HTMLInputElement

    const data: {
      fields: FormData
    } = {
      fields: {
        Email: emailInput.value,
        Company: companyInput.value,
        Description: descriptionInput.value,
      },
    }

    const url = `https://api.airtable.com/v0/${baseId}/${tableName}`
    const headers = {
      Authorization: `Bearer ${apiKey}`,
      'Content-Type': 'application/json',
    }

    try {
      const response = await fetch(url, {
        method: 'POST',
        headers: headers,
        body: JSON.stringify(data),
      })

      if (!response.ok) {
        throw new Error('Failed to submit data')
      }

      const record = await response.json()

      console.log(`Record created: ${record.id} | Record content: ${JSON.stringify(data)}`)
    } catch (err) {
      console.error('Url:', url)
      console.error('Error:', err)
      console.error('Response:', err.response)
    }

    form.reset()
  }

  form?.addEventListener('keypress', function (event: KeyboardEvent) {
    const key = event.key
    if (key === 'Enter') {
      submitData(event)
    }
  })

  const formBtn = document.querySelector('#FORM_BTN')

  formBtn?.addEventListener('click', function (event) {
    submitData(event)

    const formBtnText = formBtn.textContent
    formBtn.textContent = 'Отправлено'
    formBtn.classList.add('!bg-custom-yellow')

    setTimeout(() => {
      formBtn.textContent = formBtnText
      formBtn.classList.remove('!bg-custom-yellow')
    }, 1500)
  })
</script>
