---
import {slideContent} from './HeroSlider'

import {grayBody} from '../Header.astro'

interface Props {
  classes: string
}

const {classes} = Astro.props
---

<div class=`flex justify-center gap-4 sm:flex-wrap ${classes}`>
  {
    Object.entries(slideContent).map(([key, content]) => (
      <a transition:name={content.link} class={`px-2 py-1 sm:p-2 text-lg sm:text-sm rounded hover:text-custom-yellow duration-200 ${grayBody}`} href={content.link}>
        {content.text}
      </a>
    ))
  }
</div>
