---
import {ViewTransitions} from 'astro:transitions'

import Fonts from '../layouts/Fonts.astro'
import Header from '../components/Header.astro'

interface Props {
  page_name?: string
  description: string
  page_path?: string
  keywords?: string
  noScroll?: boolean
}

const {page_name = '', description, page_path = '', keywords = '', noScroll} = Astro.props

const siteName = 'AUDIT ANALITICA'
---

<!doctype html>
<html lang="ru" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{siteName + page_name}</title>
    <meta name="title" content={siteName + page_name} />
    <meta name="description" content={description} />
    <meta name="keywords" content=`graphite, ${keywords}` />
    <meta name="robots" content="index, follow" />
    <meta name="author" content={siteName} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content=`https://audit-analitica.ru/${page_path}` />
    <meta property="og:title" content={siteName + page_name} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content="/seo.png" /> -->

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content=`https://audit-analitica.ru/${page_path}` />
    <meta property="og:title" content={siteName + page_name} />
    <meta property="twitter:description" content={description} />
    <!-- <meta property="twitter:image" content="/seo.png" /> -->
    <ViewTransitions />
    <Fonts />
  </head>
  <body class="relative overflow-x-hidden font-sans text-white bg-black">
    <Header {noScroll} />
    <main>
      <section class="fixed inset-0 w-screen h-screen z-[-50]">
        <div class="cell-background"></div>
      </section>

      <slot />
    </main>

    <style>
      .cell-background {
        @apply absolute inset-0 opacity-40 z-[-1] rotate-180;

        background: linear-gradient(180deg, #606060 25.89%, rgba(96, 96, 100, 0) 100%);
        background-repeat: repeat;
        background-blend-mode: luminosity;
        -webkit-mask-image: url(/cell.svg);
        mask-image: url(/cell.svg);
        -webkit-mask-position: top center;
        mask-position: top center;
      }

      body::-webkit-scrollbar {
        position: absolute;
        width: 17px;
      }
      body::-webkit-scrollbar-track {
        @apply bg-[#111];
      }
      body::-webkit-scrollbar-thumb {
        @apply bg-neutral-700;
      }
    </style>
  </body>
</html>
